<div class="page-header">
  <h1>New event</h1>
</div>

<% form_for(event, {action: path_to.events, method: 'POST', id: "event_form"}, function (form) { %>
  <%- partial('events/form.ejs', {locals: {form: form, event: event}}) %>
  <div class="actions">
    <%- form.submit('Create event', {class: 'btn primary'}) %> or
    <%- link_to('Cancel', path_to.events, {class: 'btn'}) %>
  </div>
<% });%>
